{% extends 'base.html' %}
{% load highlight %}



{% block content %}
{% if query %}
   <div class="blog-border">
       {% for result in page.object_list %}
          <div class="blog-item">
              <div class="blog-title">
                  <a id="article_title", href="/blog/{{ result.object.id }}"><span>{% highlight result.object.title with query %}</span></a>
              </div>
              <div class="blog_descipt">{% highlight result.object.content with query %}...</div>
              <div class="blog-tags">
                  <ul>
                      <!--{# 导入阅读器标签 #}-->
                      {% load view_num %}
                      {% get_view_nums for result.object as view_num %}
                      <li><i class="fa fa-clock-o"></i> {{ result.object.created_time | date:"Y-m-d" }}</li>
                      <li><i class="fa fa-eye"></i> {{ view_num }}浏览</li>
                      <li><a href="/tools/likes_change?type=article&id={{result.object.id}}"><i class="fa fa-heart-o"></i> {{ like_nums }}喜欢</a></li>
                      <li><a href="#"><i class="fa fa-comments-o"></i> {{ result.object.comment_num }}评论</a></li>
                      <li><a href="#"><i class="fa fa-tags"></i> {{ result.object.category }}</a></li>
                  </ul>
              </div>
          </div>
          {% empty %}
          <div class="nav navbar text-center"><h3>没有搜索到您想要的结果！</h3></div>
       {% endfor %}
   </div>
{% endif %}
{% endblock %}


